.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.image-control {
    --icon-size: 60px;
    --font-size: var(--s-7);
    width: inherit;
    position: relative;
    background-color: var(--black);
    z-index: 1;
    overflow: hidden;
    box-shadow: inset 0 0 5px var(--gray-90);
    // @media(max-width: 900px){
    // }

    &__play{
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        @extend .d-flex;
        --ui-icon-color: var(--gray-50);
        cursor: pointer ;
    }
    &--background{
        // @extend .d-flex;
        position: fixed;
        // z-index: -1;
        // background-color: #f33 !important;
        width: inherit;
        height: inherit;
    }
    &__loading{
        width: 100%;
        aspect-ratio: 16/9;
        @media(min-width:1100px){
            // aspect-ratio: unset;
            height: 100%;
            width: inherit;
        }
    }
    &:hover .image-control__controls {
        bottom: 0;
        opacity: 1;
    }

    .image-control__element {
        position: relative;
        background-color: #000;
        display: flex;
        width: 100%;
        height: auto;
        z-index: -1;
        &__background{
            height: inherit;
            width: inherit;
            // background: url(images/bg.jpg) no-repeat center center fixed; 
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;
        }
    }

    .image-control__controls {
        background-color: var(--gray-100);
        z-index: 2;
        @extend .d-flex;
        justify-content: space-between;
        position: absolute;
        bottom: -100%;
        padding: 0 var(--s-9);
        /* Start hidden below the container */
        width: calc(100% - calc(var(--s-9) * 2));
        left: 0;
        height: var(--s-element);
        opacity: 0;
        transition: bottom .5s ease, opacity .5s ease;
        &__control{
            cursor: pointer;
            &:hover{
                --ui-icon-color: var(--primary-50);
            }
        }
    }
}