.d-flex {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.product-build {
    // position: fixed;
    width: 100%;
    @extend .d-flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    min-height: inherit;
    height: 100%;
    gap: var(--s-9);

    &--header {
        font-size: var(--s-1);
        min-height: var(--s-1);
        margin-top: var(--s-1);
        color:var(--primary-30);
    }

    &__body {
        @extend .d-flex;
        gap: var(--s-9);
        align-items: flex-start;
        min-height: 50vh;
        height: 100%;

        &--content,
        &--form {
            border-radius: var(--border-radius);
            height: 100%;
            background-color: var(--gray-20);
            flex: 1;
            height: inherit;
            min-height: inherit;
            width:var(--s-9-width);
            padding: var(--s-4) var(--s-9);
        }

        // &--content {}

        // &--form {}
    }
}