.d-flex {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.product-build {
    // position: fixed;


    @extend .d-flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    min-height: inherit;
    height: 100%;
    justify-content: flex-start;
    font-size: var(--s-1);
    gap: var(--s-9);
    width: 100%;
    @media(max-width: 1260px) {
        width:var(--s-9-width);
        padding:0 var(--s-9);
    }
    @media(max-width: 900px) {
        margin: auto;
        width: var(--s-5-width);
        padding: 0 var(--s-5);
    }
    &--header {
        font-size: var(--s-1);
        min-height: var(--s-1);
        margin-top: var(--s-1);
        color:var(--primary-30);
    }

    &__body {
        @extend .d-flex;
        gap: var(--s-9);
        align-items: flex-start;
        // min-height: 50vh;
        // height: 100%;
        @media(max-width: 900px) {
            min-height: unset;
            height: 100%;
            flex-direction: column;
            align-items: center;
        
        }
        &--content,
        &--form {
            border-radius: var(--border-radius);
            height: 100%;
            color:var(--black
            );
            flex: 1;
            height: inherit;
            min-height: inherit;
            display: flex;
            flex-direction: column;
            
        }
        
        &--form {
            background-color: var(--white);
            width:var(--s-9-width);
            padding: var(--s-4) var(--s-9);

        }
        &--content {
            overflow: hidden;
            height: max-content;
        }

    }
}